<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>nav_fragment</title>
</head>
<body>

<!--Start of Navigation Bar-->
<nav th:fragment="nav_fragment" class="navbar navbar-expand-lg navbar-dark fixed-top bg-dark ">
    <div class="container">
        <a class="navbar-brand" href="#">App Name</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
                aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a th:href="@{/dashboard}" href="#" class="nav-link active">Dashboard</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Products</a>
                </li>
                <li class="nav-item">
                    <a th:href="@{/category/list}" href="#" class="nav-link">Categories</a>
                </li>
                <li class="nav-item">
                    <a href="#" class="nav-link">Users</a>
                </li>
            </ul>

            <form class="d-flex dark" role="search">
                <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-light" type="submit">Search</button>
            </form>

            <form th:action="@{/logout}" method="post" class="form-inline my-2 my-lg-0">
                <button type="submit" class="btn btn-outline-info my-2 my-sm-0">Logout</button>
            </form>



        </div>
    </div>
</nav>
<!--End of Navigation Bar-->


</body>
</html>