<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Document Title</title>

    <!-- Resources -->
    <!-- Fontawesome icon library Resource -->
    <link rel="stylesheet" th:href="@{/webjars/fortawesome__fontawesome-free/css/all.css}">

    <!-- Bootstrap Webjar Resource -->
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css} " />
    <script defer th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script defer th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>


</head>

<body style="min-height: 75rem; padding-top: 4.5rem;">

<!--Start of Navigation Bar-->
<nav th:insert="fragments/nav :: nav_fragment"></nav>
<!--End of Navigation Bar-->




<!--Start of Header-->
<header class="my-4 py-4 bg-success text-white">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1><i class="fas fa-cog"> Categories</i></h1>
                <span th:text="#{categories.date}">Date:</span>
                <span th:text="${#temporals.format(serverDate, 'EEEE d MMM yyyy')}">2022-09-30</span>
            </div>
        </div>
    </div>
</header>
<!--End of Header-->


<!--Start of Action Section-->
<section>
    <div class="container">
        <div class="row">
            <div class="col-lg-9">



                <!--Start of Action Section-->
                <section class="mb-4">
                    <div class="container">

                        <div class="row">

                            <div class="d-grid">
                                <a th:href="@{/category/form}" href="#" class="btn btn-success">
                                    <i class="fas fa-plus"></i>
                                    <span>Add Category</span>
                                </a>
                            </div>

                        </div>
                    </div>
                </section>
                <!--End of Action Section-->

                <br/>
                <!-- start of table -->
                <div class="card">
                    <div class="card-header bg-success text-white"><h4>Categories List</h4></div>
                    <div class="card-body">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>Id</th>
                                <th>Name</th>
                                <th>Date</th>
                                <td></td>
                            </tr>

                            </thead>

                            <tbody>

                            <tr th:if="${categoryViews eq null || categoryViews.isEmpty()}">
                                <td colspan="4">No Record Available</td>
                            </tr>

                            <tr th:unless="${categoryViews eq null || categoryViews.isEmpty()}" th:each="categoryView : ${categoryViews}">
                                <td th:text="${categoryView.id}"></td>
                                <td th:text="${categoryView.name}"></td>
                                <td th:text="${categoryView.createDate}"></td>
                                <td>
                                    <a th:href="@{/category/delete/{id} (id=${categoryView.id})}" href="#" class="btn btn-danger">
                                        <i class="fas fa-trash-can"></i>
                                        <span class="d-none d-md-inline">Delete</span>
                                    </a>

                                    <a href="#" class="btn btn-warning">
                                        <i class="fas fa-pen-to-square"></i>
                                        <span class="d-none d-md-inline">edit</span>
                                    </a>
                                    <a th:href="@{/category/view/{id} (id=${categoryView.id})}" href="#" class="btn btn-primary">
                                        <i class="fas fa-circle-info"></i>
                                        <span class="d-none d-md-inline">Details</span>
                                    </a>

                                    <form class="d-inline" th:action="@{/category/view}" method="post">
                                        <input type="hidden" th:value="${categoryView.id}" th:attr="name='id'">
                                        <button type="submit"  href="#" class="btn btn-primary">
                                            <i class="fas fa-angle-double-right"></i>
                                            <span class="d-none d-md-inline">Details</span>
                                        </button>
                                    </form>

                                </td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <div class="card-footer">
                        <p class="m-0" th:text="|count: ${categoryViews.size()}|"> count: </p>
                    </div>
                </div>
            </div>
            <!--end of table-->

            <div class="col-md-2 d-none d-lg-block">
                <div class="card text-center bg-success text-white mb-2">
                    <div class="card-body">
                        <p class="text-lg-center">Categories</p>
                        <h4 class="display-6">
                            <i th:text="${categoryViews.size()}" class="fas fa-folder"> 2</i>
                        </h4>
                    </div>
                </div>
            </div>
        </div>

    </div>

</section>
<!--End of Action Section-->




<!--Start of Footer-->
<footer th:insert="fragments/footer :: footer_fragment"></footer>
<!--Start of Footer-->

</body>

</html>