<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Document Title</title>

    <!-- Resources -->
    <!-- Fontawesome icon library Resource -->
    <link rel="stylesheet" th:href="@{/webjars/fortawesome__fontawesome-free/css/all.css}">

    <!-- Bootstrap Webjar Resource -->
    <link th:rel="stylesheet" th:href="@{/webjars/bootstrap/css/bootstrap.min.css} "/>
    <script defer th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script defer th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
    <script defer th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

</head>

<body style="min-height: 75rem; padding-top: 4.5rem;">

<!--Start of Navigation Bar-->
<nav th:insert="fragments/nav :: nav_fragment"></nav>
<!--End of Navigation Bar-->


<!--Start of Header-->
<header class="my-4 py-4 bg-secondary text-white">
    <div class="container">
        <div class="row">
            <div class="col">
                <h1>
                    <i class="fas fa-cog"></i>
                    <span th:text="${#messages.msg('dashboard.header').toUpperCase()}">Dashboard</span>
                </h1>

                <span th:text="#{dashboard.date}">Date:</span>
                <span th:text="${#temporals.format(serverDate, 'EEEE d MMM yyyy')}">2022-09-30</span>

            </div>
        </div>
    </div>
</header>
<!--End of Header-->


<!--Start of Action Section-->
<section class="mb-4">
    <div class="container">
        <div class="row">

            <div class="d-grid col-4">
                <a href="#" class="btn btn-primary">
                    <i class="fas fa-plus"> Add Product</i>
                </a>
            </div>

            <div class="d-grid col-4">
                <a th:href="@{/category/form}" href="#" class="btn btn-success">
                    <i class="fas fa-plus"> Add Category</i>
                </a>
            </div>

            <div class="d-grid col-4">
                <a href="#" class="btn btn-warning">
                    <i class="fas fa-plus"> Add User</i>
                </a>
            </div>

        </div>

    </div>
</section>
<!--End of Action Section-->


<!--Start of Overview Section-->
<section>
    <div class="container">
        <div class="row">

            <div class="d-grid col-lg-4">

                <div class="card text-center bg-primary text-white mb-3">
                    <div class="card-body">
                        <h3>Products</h3>
                        <h4 class="display-4">
                            <i class="fas fa-pencil-alt" th:text="${productListSize}"> </i>
                        </h4>
                        <a href="#" class="btn btn-outline-light btn-sm stretched-link">View</a>
                    </div>
                </div>

            </div>

            <div class="d-grid col-lg-4">

                <div class="card text-center bg-success text-white mb-3">
                    <div class="card-body">
                        <h3>Categories</h3>
                        <h4 class="display-4">
                            <i class="fas fa-folder" th:text="${categoryListSize}"> </i>
                        </h4>
                        <a th:href="@{category/list}" href="#" class="btn btn-outline-light btn-sm stretched-link">View</a>
                    </div>
                </div>

            </div>

            <div class="d-grid col-lg-4">

                <div class="card text-center bg-warning mb-3">
                    <div class="card-body">
                        <h3>Users</h3>
                        <h4 class="display-4">
                            <i class="fas fa-users" th:text="${userListSize}"> </i>
                        </h4>
                        <a href="#" class="btn btn-outline-dark btn-sm stretched-link">View</a>
                    </div>
                </div>

            </div>

        </div>


    </div>
</section>
<!--End of Action Section-->


<!--Start of Footer-->
<footer th:insert="fragments/footer :: footer_fragment"></footer>
<!--Start of Footer-->

</body>

</html>